.section-brands {
  position: relative;
  overflow-x: hidden;
}

.section-brands__content {
  display: flex;
  flex-direction: column;
  min-width: 85rem;
  max-width: 85rem;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-top: 4rem;
  transform: translateX(-50%);
}
.section-brands__row {
  display: flex;
  justify-content: space-between;
}

.section-brands__item {
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}
.section-brands__item img {
  width: 85%;
  height: auto;
  margin: 0 auto;
}

/* First row of brands */
  .section-brands__row.first-row .section-brands__item:nth-child(2) {
    width: 250px;
    height: 250px;
    margin-top: -50px;
  }   
  .section-brands__row.first-row .section-brands__item:nth-child(3) {
    width: 300px;
    height: 300px;
  }   
  .section-brands__row.first-row .section-brands__item:nth-child(4) {
    width: 210px;
    height: 210px;
  } 
  .section-brands__row.first-row .section-brands__item:nth-child(5) {
    margin-top: 50px;
  } 
/* End First row of brands */
  
/* Second row of brands */
  .section-brands__row__subrow {
    display: flex;
    gap: 2rem;
  }

  .section-brands__item.item5 {
    width: 230px;
    height: 230px;
    margin-left: -50px;
    margin-top: -70px;
  }
  .section-brands__item.item6 {
    margin-top: -80px;
  }
  .section-brands__item.item7 {
    margin-top: -60px;
    margin-right: -10px;
    width: 230px;
    height: 230px;
  }
  .section-brands__item.item8 {
    margin-right: -60px;
    width: 230px;
    height: 230px;
  }
/* End Second row of brands */

/* Third row of brands */
  .section-brands__item.item9 {
    margin-left: -30px;
    margin-top: -40px;
  }
  .section-brands__item.item10 {
    margin-right: 150px;
    margin-top: -30px;
    width: 150px;
    height: 150px;
  }
/* End Third row of brands */

.section-brands__parragraphs {
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 28rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-brands__parragraphs span {
  margin: 3rem 0;
}

.section-brands__products {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  height: 28rem;
  overflow: hidden;
}
.section-brands__products h2 {
  max-width: 30rem;
}
.section-brands__products__svg {
  position: absolute;
  height: 25rem;
  width: 110%;
  background: linear-gradient(264deg, #C200F4 -0.97%, #069BFD 102.17%);
  transform: rotate(-2deg);
  z-index: -1;
}